@charset "utf-8";

.container {
  border: 8px dashed blue;
  /* フレックスコンテナに設定 */
  display: flex;
  height: 240px;
  /* width: 240px; */
  align-items: center;
  /* 軸がrowなので画面ｍの中央になる */
  justify-content: center;

}

.item-1 {
  width: 80px;
  height: 80px;
  background-color: pink;
  /* order: 2; */
}

.item-2 {
  width: 80px;
  height: 80px;
  background-color: skyblue;
  /* order: 3; */
}

.item-3 {
  width: 80px;
  height: 80px;
  background-color: orange;
  /* order: 1; */
}