@charset "utf-8";

.container {
  border: 8px dashed blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  
}

.item-1 {
  width: 80px;
  height: 80px;
  background-color: pink;
  /* order: 2; */
}

.item-2 {
  width: 80px;
  height: 80px;
  background-color: skyblue;
  /* order: 3; */
}

.item-3 {
  width: 80px;
  height: 80px;
  background-color: orange;
  /* order: 1; */
}

.item-4 {
  width: 80px;
  height: 80px;
  background-color: silver;
  /* order: 1; */
}

.item-5 {
  width: 80px;
  height: 80px;
  background-color: tomato;
  /* order: 1; */
}